@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .center {
    text-align: center;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .logo {
    margin: 26px 4px;
  }

  .nav-list {
    display: none;
  }

  .adress-list {
    display: none;
  }

  .hero {
    display: flex;
    max-width: 100%;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-mobile-2x.jpg);
    }
  }

  .hero-title {
    font-size: 24px;
    width: 240px;
  }
  .text {
    font-weight: 500;
  }
  .section-work {
    display: none;
  }

  .strategy-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
  }

  .strategy-block {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .strategy-box {
    display: none;
  }

  .our-team-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 72px;
  }
  s .our-team-list:last-child {
    margin-bottom: 128px;
  }

  .work-lisl {
    flex-wrap: wrap;
  }

  .footer-wrap {
    flex-wrap: wrap;
  }

  .footer-input-subscribe {
    flex-wrap: wrap;
  }

  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }

  .customer-logo-icon {
    flex-wrap: wrap;
  }

  .customer-item {
    flex-basis: calc((100% - 16px) / 2);
    max-width: 190px;
    height: 88px;
  }

  .title-strategy {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .text {
    text-align: left;
    width: 100%;
  }

  .footer-wrap {
    flex-wrap: wrap;
  }

  .footer-input-subscribe {
    flex-direction: column;
  }

  .logo-footer {
    text-align: center;
  }

  .footer-box {
    margin-bottom: 72px;
  }

  .media {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-align: center;
  }

  .footer-subscribe {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .footer-input-subscribe {
    align-items: center;
  }

  .footer-modal-btn {
    margin-top: 16px;
    width: 165px;
  }
  .footer-input-subscribe {
    display: inline;
  }

  .text-footer {
    text-align: left;
  }

  .logo-footer {
    text-align: center;
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .title-small {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--body-color);
    text-decoration: none;
  }

  .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .footer-box {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-modal-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .block {
    width: 100px;
  }

  .modal {
    width: 100%;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-form-check-desk {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
    margin-top: auto;
  }

  .modal-form-title {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  .mob-contact-tel {
    font-size: 7vw;
  }

  .mob-social-list {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
