:root {
  --body-color: #2e2f42;
  --link-color: #404bbf;
  --white-text-btn-color: #ffffff;
  --text-color: #434455;
  --logo-color: #4d5ae5;
  --text-footer-color: #e7e9fc;
  --btn-color: #4d5ae5;
  --cards-color-: #4d5ae555;
  --btn-white-color: #f4f4fd;
  --client-logo-color: #8e8f99;
  --footer-link-color: #31d0aa;
  --social-link-color: #ffffff1a;
  --cont-menu-back: #2e2f4240;
  --modal-color: #fcfcfc;
  --form-check-color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.center {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-color);
  background-color: var(--white-text-btn-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* =========HEADER============ */

.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-right: 76px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.strategy-list {
  display: flex;
}

.adress-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding: 24px 0;
  position: relative;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--link-color);
}

.active {
  position: relative;
  text-decoration: none;
  color: var(--link-color);
}

.active::after {
  display: flex;
  bottom: -1px;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  background-color: var(--link-color);
  content: '';
  border-radius: 2px;
}

.contact-mail {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--link-color);
}

.color-logo {
  color: var(--logo-color);
}

.strategy-block {
  padding-top: 120px;
}

.strategy-item:not(:last-child) {
  margin-right: 24px;
}

.block {
  padding-top: 0px;
}

.block:not(:last-child) {
  margin-right: 24px;
}

.our-team-item {
  padding-top: 0px;
  background-color: var(--white-text-btn-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child) {
  margin-right: 24px;
}

.adress {
  display: flex;
  margin-left: auto;
}

.line {
  border-bottom: 1px solid var(--text-footer-color);
}

/* Параметры линии */
/* =========/HEADER============ */

/* ========== MAIN ================= */

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--body-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  max-width: 1440px;
  background-size: cover;
}

.section-work {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-cards {
  padding-bottom: 120px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-text-btn-color);
  margin-bottom: 48px;
  width: 496px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text-btn-color);
  background-color: var(--btn-color);
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--link-color);
}

.strategy-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--btn-white-color);
  margin-bottom: 8px;
  border-radius: 4px;
}

.our-team {
  background-color: var(--btn-white-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-list {
  display: flex;
}

.our-team-cards {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.portfolio-cards {
  background: var(--white-text-btn-color);
  border: 1px solid var(--text-footer-color);
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.shadow-link {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.shadow-link:hover,
.shadow-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-lisl {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title-small {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--body-color);
  text-decoration: none;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.text-footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  color: var(--text-footer-color);
}

.footer {
  background-color: var(--body-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--white-text-btn-color);
}
.footer-media {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text-btn-color);
  margin-bottom: 16px;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-subscribe {
  margin-left: 80px;
}

.footer-subscribe-text {
  font-weight: 500;
  color: var(--white-text-btn-color);
  margin-bottom: 16px;
}

.footer-input-subscribe {
  display: flex;
}

.footer-form-title {
  margin-bottom: 16px;
}

.footer-box {
  width: 264px;
  margin-right: 120px;
}

.footer-form-wraper {
  padding: 8px 16px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white-text-btn-color);
  border-radius: 4px;
  padding: 8px 16px;
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.footer-form-input:focus {
  border-color: var(--white-text-btn-color);
  outline: none;
}

.footer-form-input::placeholder {
   font-size: 12px;
line-height: 2.0;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
}

.footer-form-message::placeholder {
  color: rgba(255, 255, 255, 0.6);
   

}

.footer-btn {
  position: relative;
}

.footer-modal-btn {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  margin-left: 24px;
  height: 40px;
  padding: 8px 64px 8px 24px;
  color: var(--white-text-btn-color);
  background-color: var(--btn-color);
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.subscribe-icon {
  position: absolute;
  float: right;
  margin-left: 16px;
}

.footer-modal-btn:hover,
.footer-modal-btn:focus {
  background-color: var(--link-color);
}

/* ========= CUSTOMERS ============== */

.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  justify-content: center;
}

.customer-item {
  width: 168px;
  height: 88px;
}

.customer-item:not(:last-child) {
  margin-right: 24px;
}

.customer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--client-logo-color);
  border-radius: 4px;
  fill: var(--client-logo-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}

.customer-logo:hover,
.customer-logo:focus {
  border-color: var(--link-color);
}

.customer-logo:hover .customer-logo-icon,
.customer-logo:focus .customer-logo-icon {
  fill: var(--link-color);
}

.customer-logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--client-logo-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

/* ========== PORTFOLIO ================= */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.margin-portfolio {
  margin-bottom: 72px;
}
.portfolio-list-btn {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--btn-color);
  background: var(--btn-white-color);
  padding: 12px 24px;
  border: 1px solid var(--text-footer-color);
  border-radius: 4px;
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background, box-shadow;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text-btn-color);
  background: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item {
  justify-content: center;
}

.portfolio-item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
}

.shadow-link:hover .overlay,
.shadow-link:focus .overlay {
  transform: translate(0, 0);
}

.shadow-link:hover .overlay,
.shadow-link:focus .overlay {
  transform: translate(0, 0);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--btn-color);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-white-color);
  padding: 40px 32px;
}

.portfolio-photo {
  position: relative;
  overflow: hidden;
}

/* ========= PORTFOLIO ================= */

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--social-link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social-list {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 8px;
  gap: 24px;
}

.social-list-icon {
  fill: var(--btn-white-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--link-color);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--footer-link-color);
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

/* +++++++++++++++++++++++++ */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cont-menu-back);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ========= MODAL WINDOW ================= */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background-color: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--text-footer-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--link-color);
}

.modal-close-btn-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--white-text-btn-color);
}

/* ========= MODAL WINDOW ================= */

/* ========= MODAL FORM ================= */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.modal-form-input:focus {
  border-color: var(--btn-color);
  outline: none;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  color: var(--client-logo-color);
  margin-bottom: 4px;
}

.modal-form-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-color);
  margin-bottom: 14px;
}

.modal-form-wraper {
  position: relative;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-form-input:focus + .modal-icon {
  fill: var(--btn-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
}

.modal-form-message::placeholder {
  /* color: rgba(117, 117, 117, 0.5); */
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.modal-form-message:focus {
  border-color: var(--btn-color);
  outline: none;
}

.modal-form-check-desk::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  content: '';
  border: 1.25px solid var(--body-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  ma
}

.modal-form-check:checked + .modal-form-check-desk::before {
  background-color: var(--link-color);
  border-color: var(--link-color);
  background-image: url(../images/modal/policy3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 8px;
}

.modal-form-check:focus + .modal-form-check-desk::before {
  border-color: var(--link-color);
}

.modal-form-check-desk {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--form-check-color);
  margin-bottom: 24px;
  margin-top: 8px;
  font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
}

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text-btn-color);
  background-color: var(--btn-color);
  margin: 0 auto;
  display: block;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--link-color);
}

.modal-policy {
  font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: var(--btn-color);
}