@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }

  .center {
    text-align: center;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .header-container {
    display: flex;
    align-items: flex-end;
  }

  .logo {
    margin: 26px 16px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    margin-left: 123px;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .adress {
    display: flex;
    margin-left: 118px;
  }

  .contact-mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .hero {
    max-width: 100%;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-mobile-2x.jpg);
    }
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tablet-1x.jpg);
    max-width: 1440px;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-tablet-2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin-bottom: 40px;
  }

  .section-work {
    display: none;
  }

  .strategy-block {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .strategy-list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .strategy-box {
    display: none;
  }

  .strategy-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .strategy-item:nth-child(1) {
    margin-bottom: 72px;
  }

  .our-team-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  .our-team-list:last-child {
    margin-bottom: 128px;
  }

  .work-lisl {
    flex-wrap: wrap;
  }

  .footer-wrap {
    flex-wrap: wrap;
  }

  .footer-input-subscribe {
    flex-wrap: wrap;
  }

  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    flex-wrap: wrap;
  }

  .customer-item:nth-child(3n + 2) {
    margin-right: 24px;
    margin-left: 24px;
  }

  .customer-item:nth-child(2) {
    margin-bottom: 72px;
  }

  .customer-logo-icon {
    flex-wrap: wrap;
  }

  .title-strategy {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .title-small {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    justify-content: center;
    text-align: center;
  }

  .text {
    text-align: left;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .logo-footer {
    text-align: center;
  }

  .footer-box {
    margin-left: 108px;
    margin-bottom: 72px;
  }

  .footer-subscribe {
    margin-left: 108px;
  }

  .media {
    margin-left: 24px;
    text-align: left;
  }

  .text-footer {
    text-align: left;
  }

  .logo-footer {
    text-align: center;
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .title-small {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--body-color);
    text-decoration: none;
  }

  .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .footer-box {
    text-align: left;
  }

  .footer-form-input {
    width: 264px;
  }
}
