@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-container {
    display: flex;
  }

  .menu-open {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    margin-left: 123px;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .adress {
    display: flex;
    margin-left: 118px;
  }

  .contact-mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .hero {
    max-width: 100%;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tablet-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-tablet-2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin-bottom: 40px;
  }

  .section-work {
    display: none;
  }

  .strategy-block {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .strategy-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
  }

  .strategy-box {
    display: none;
  }

  .strategy-item {
    flex-basis: calc((100% - 24px) / 2);
    justify-content: space-between;
  }

  .strategy-item:nth-child(1) {
    margin-bottom: 72px;
  }

  /* .our-team-list:nth-child(1) {
    margin-bottom: 64px;
  } */

  .our-team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .customers-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .customer-item:nth-child(2n + 1) {
    margin-right: 0px;
  }

  .customer-item:nth-child(3n + 2) {
    margin-right: 24px;
    margin-left: 24px;
  }

  .customer-item:nth-child(2) {
    margin-bottom: 72px;
  }

  .title-strategy {
    text-align: left;
  }

  .text {
    text-align: left;
  }

  .footer-box {
    margin-left: 108px;
  }

  .footer-subscribe {
    margin-left: 108px;
    text-align: left;
  }

  .media {
    margin-left: 24px;
    text-align: left;
  }

  .footer-box {
    text-align: left;
  }

  .footer-form-input {
    width: 264px;
    margin-right: 24px;
  }

  .footer-modal-btn {
    margin-top: 0px;
  }
}
